.login-dark {
	height: 1000px;
	background-size: cover;
	position: relative;
}

.login-dark form {
	padding: 50px;
	border-radius: 4px;
	padding-top: 10px;
}

.login-dark .illustration {
	text-align: center;
	padding: 15px 0 20px;
	font-size: 100px;
	color: #2980ef;
}

.login-dark form .form-control {
	background: none;
	border: none;
	border-radius: 0;
	color: black;
}

.login-dark form .btn-sign , .login-dark form .btn-social, .login-dark form .btn-kakao {
	background: #9c9c9c;
	border: none;
	border-radius: 10px;
	padding: 10px;
	margin-top: 10px;
}

.login-dark form .btn-sign:hover, .login-dark form .btn-sign:active
	{
	background: #9c9c9c;
	color: black;
}

.login-dark form .btn-social:hover, .login-dark form .btn-social:active{
	color: black;
}

.login-dark form .btn-kakao:hover, .login-dark form .btn-kakao:active{
	color: white;
}

.login-dark form .forgot {
	display: block;
	text-align: center;
	font-size: 12px;
	color: black;
	opacity: 0.9;
	text-decoration: none;
	margin-top: 10px;
}

.login-dark form .forgot:hover, .login-dark form .forgot:active {
	opacity: 1;
	text-decoration: none;
}


.login-dark form .btn-facebook {
	background-color: #395694 !important;
}


.login-dark form .btn-google {
	background-color: #d64937 !important;
}


.login-dark form .btn-kakao{
	background-color: #f9e000 !important;
	color: black;
}

.login-dark form .btn-naver{
	background-color: #36b400 !important;
}


